#livemap { 
    height: 100%;
    width: 100%;
    z-index: 1;
}

.status-green {
    background-color: azure;
    color: rgb(107, 179, 0);
    font-weight: bold;
    position: absolute;
    z-index: 2;
    bottom:2%;
    left:2%;
}

.status-red {
    background-color: azure;
    color:crimson;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    bottom:2%;
    left:2%;
}

.options-button{
    position: absolute;
    height: 4%;
    width: 2%;
    right:1%;
    top:2%;
    z-index:3;
    cursor: pointer;
}

.options-box{
    background-color: rgb(101, 104, 104);
    position: absolute;
    border-radius: 25px;
    opacity: 0.9;
    height: 200px;
    width: 270px;
    top: 7%;
    right: 2%;
    z-index:3;
    visibility: hidden;
}

.options-title{
    position: relative;
    top: 10%;
    display: grid;
    place-content: center;
    color: rgb(241, 238, 238);
    font-size: 15px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    padding:2px;
}

.close-button-options{
    color: rgb(241, 238, 238);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    top:4%;
    right:8%;
    cursor: pointer;

}

.option-container {
    position:relative;
    top:15%;
    left:7%;
    display: grid; 
    grid-template-columns: 0.4fr 1.6fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "check-1 option-1"
      "check-2 option-2"
      "check-3 option-3"
      "check-4 option-4"; 
  }
  .check-1 { grid-area: check-1; }
  .option-1 { grid-area: option-1; }
  .check-2 { grid-area: check-2; }
  .option-2 { grid-area: option-2; }
  .check-3 { grid-area: check-3; }
  .option-3 { grid-area: option-3; }
  .check-4 { grid-area: check-4; }
  .option-4 { grid-area: option-4; }

  .option-text{
    color: rgb(241, 238, 238);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
  }

.info-box{
    background-color: rgb(101, 104, 104);
    position: absolute;
    border-radius: 25px;
    opacity: 0.9;
    height: 550px;
    width: 270px;
    top: 30%;
    right: 2%;
    z-index:3;
    visibility: hidden;
}

.close-button-aircraft{
    color: rgb(241, 238, 238);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    top:4%;
    right:8%;
    cursor: pointer;

}

.callsign-title{
    color: rgb(241, 238, 238);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    position: absolute;
    top:4%;
    right:45%;
}
.aircraft-info{
    position: absolute;
    top:22%;
    left: 5%;
}

.aircraft-info-title{
    color: rgb(241, 238, 238);
    font-size: 12px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    padding:2px;
}

.aircraft-info-value{
    color: rgb(241, 238, 238);
    font-weight: bold;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    padding:1px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.flight-info{
    position: absolute;
    top:68%;
    left:1;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    gap: 5% 0px;
    grid-template-areas:
      "mfr-title aircraft-mfr"
      "model-title aircraft-model"
      "reg-title aircraft-registration"
      "hex-title aircraft-hex"
      "callsign-title aircraft-callsign"
      "position-title aircraft-position"
      "altitude-title aircraft-altitude"
      "ground-speed-title aircraft-ground-speed"
      "vertical-rate-title aircraft-vertical-rate"
      "heading-title aircraft-heading";
  }
  .mfr-title { grid-area: mfr-title; }
  .aircraft-mfr { grid-area: aircraft-mfr; }
  .model-title { grid-area: model-title; }
  .aircraft-model { grid-area: aircraft-model; }
  .reg-title { grid-area: reg-title; }
  .aircraft-registration { grid-area: aircraft-registration; }
  .hex-title { grid-area: hex-title; }
  .aircraft-hex { grid-area: aircraft-hex; }
  .callsign-title { grid-area: callsign-title; }
  .aircraft-callsign { grid-area: aircraft-callsign; }
  .position-title { grid-area: position-title; }
  .aircraft-position { grid-area: aircraft-position; }
  .altitude-title { grid-area: altitude-title; }
  .aircraft-altitude { grid-area: aircraft-altitude; }
  .ground-speed-title { grid-area: ground-speed-title; }
  .aircraft-ground-speed { grid-area: aircraft-ground-speed; }
  .vertical-rate-title { grid-area: vertical-rate-title; }
  .aircraft-vertical-rate { grid-area: aircraft-vertical-rate; }
  .heading-title { grid-area: heading-title; }
  .aircraft-heading { grid-area: aircraft-heading; }